# =====================================================
# 🔧 CONFIGURACIÓN API (Desarrollo Local)
# =====================================================

# === API ===
SRV_PORT=3000
NODE_ENV=development
BASE_PATH=/....
ADMIN_KEY=

# === MongoDB (Desarrollo Local) ===
MONGODB_URI=mongodb://127.0.0.1:27017/maderas-db

# === MongoDB (Producción - Karlita Atlas) ===
# MONGODB_URI=mongodb+srv://KarlitaSotoMongoDB:TyMCOMongoDBPass2026!@cluster0.a9n5gfq.mongodb.net/maderas-db
# MONGODB_USER=KarlitaSotoMongoDB
# MONGODB_PASSWORD=TyMCOMongoDBPass2026!

# === Seguridad ===
# Generar con: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=your-secret-key-here-change-this-in-production
REFRESH_TOKEN_SECRET=493cc06d4fa6de1130885f312aa7df4bed65c20bfcec51ab26e4897a373e6b97d84691f2a783650c7825dff7e555925a064cc677d6bd2eb494ac492ed723c0da

# === CORS ===
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost,http://localhost:8080,http://localhost:8081
